<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Backend For NGO</h2>
    <a href="https://ngo-drf-backend.herokuapp.com/api/users/"
      >https://ngo-drf-backend.herokuapp.com/api/users/</a
    ><span>Fetch All users</span><br>
    <a href="https://ngo-drf-backend.herokuapp.com/api/users/login/"
      >https://ngo-drf-backend.herokuapp.com/api/users/login/</a
    ><span>User Login</span><br>
    <a href="https://ngo-drf-backend.herokuapp.com/api/users/profile/"
      >https://ngo-drf-backend.herokuapp.com/api/users/profile/</a
    ><span>User Profile</span><br>
    <a href="https://ngo-drf-backend.herokuapp.com/api/users/profile/update/"
      >https://ngo-drf-backend.herokuapp.com/api/users/profile/update/</a
    ><span>update Profile</span><br>
    <a href="https://ngo-drf-backend.herokuapp.com/api/users/register/"
      >https://ngo-drf-backend.herokuapp.com/api/users/register/</a
    ><span>User register</span><br>
    <a href="https://ngo-drf-backend.herokuapp.com/api/users/donors/"
      >https://ngo-drf-backend.herokuapp.com/api/users/donors/</a
    ><span>Fetch Donors</span><br>
    <a href="https://ngo-drf-backend.herokuapp.com/api/users/donors/add/"
      >https://ngo-drf-backend.herokuapp.com/api/users/donors/add/</a
    ><span>Add Donors</span><br>
    <a href="https://ngo-drf-backend.herokuapp.com/api/users/donors/1/"
      >https://ngo-drf-backend.herokuapp.com/api/users/donors/1/</a
    ><span>Currently fetching Id 1 Donor</span><br>
    <a href="https://ngo-drf-backend.herokuapp.com/api/ngos"
      >https://ngo-drf-backend.herokuapp.com/api/ngos</a
    ><span>Fetch Ngos</span><br>
    <a href="https://ngo-drf-backend.herokuapp.com/api/ngos/1"
      >https://ngo-drf-backend.herokuapp.com/api/ngos/id</a
    ><span>Currently fetching Id 1 NGO</span><br>
  </body>
</html>
